{% extends 'base.html.twig' %}



{% block body %}


    {{ include('comptes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_comptes_index') }}"class="btn btn-lg btn-primary"><i class="fas fa-chevron-left"></i></a>

    {{ include('comptes/_delete_form.html.twig') }}
{% endblock %}