<form method="post" action="{{ path('app_pret_delete', {'id': pret.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pret.id) }}">
    <button class="btn btn-lg btn-danger"><i class="fa-trash-alt"></i></button>
</form>
