{% extends 'base.html.twig' %}



{% block body %}


    {{ include('retrait/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_retraits_index') }}" class="btn btn-lg btn-primary"><i class="fas fa-chevron-left"></i></a>

    {{ include('retrait/_delete_form.html.twig') }}
{% endblock %}
